:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #E5E7EB;
    --color-accent: #6949C9;
}

body {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}

main {
    background: var(--bg-primary);
    width: 100%;
    height: 100vh;
    display: flex;
}

#section-left {
    background: var(--bg-secondary);
    width: 25%;
    height: 100%;
    padding: 1rem;
    z-index: 2;
}

#section-right {
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
    grid-auto-flow: row;
}

.transition {
    transition: grid-column .5s;
}

@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.slide-out-right {
    visibility: hidden;
    transform: translateX(50px);
}

.bg-primary {
    background-color: var(--bg-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
}

.bg-accent {
    background-color: var(--color-accent);
}

.btn {
    padding: .5rem 1rem .5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.btn.btn-primary {
    color: white;
    background-color: var(--color-accent);
}

.btn.btn-secondary {
    border: 1px solid var(--color-accent);
}

.rounded-xl { 
    border-radius: 2rem;
}

.border-accent {
    border: 1px solid var(--color-accent);
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    margin: 0 0.5rem 0 .5rem;
}

.input-wrapper label {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .1rem;
}

.input-wrapper input, .input-wrapper select {
    border: 1px solid black;
    border-radius: 0 1rem 1rem 1rem;
    padding: .5rem;
}

.input-wrapper span {
    color: red;
    font-size: 0.9rem;
    margin-top: .1rem;
}

.package {
    background-repeat: no-repeat;
    background-image: url('/img/o-shape.png');
    background-size: contain;
}

.package.o {
    background-image: url('/img/o-shape.png');
}

.package.i {
    background-image: url('/img/i-shape.png');
}

.package.l {
    background-image: url('/img/l-shape.png');
}

.package.j {
    background-image: url('/img/j-shape.png');
}

.package.s {
    background-image: url('/img/s-shape.png');
}

.package.z {
    background-image: url('/img/z-shape.png');
}

.package.t {
    background-image: url('/img/t-shape.png');
}

.truck.error {
    background-color: lightcoral;
}

.truck.success {
    background-color: lightgreen;
}

.truck.regular {
    background-color: lightblue;
}
